<a href="https://colab.research.google.com/github/mpantonucci/Bootcamp-DataScience/blob/main/Bootcamp_Modulo_2_Desafio_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [256]:
import pandas as pd
from io import StringIO
import requests as rq
from bs4 import BeautifulSoup

In [257]:
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A160324189_28_143_208.csv',
                    encoding="ISO-8859-1", skiprows = 3, sep=";", skipfooter=12,
                    thousands=".", decimal=",")
dados_da_populacao ="""Posição	Unidade federativa	População	% da pop. total	País comparável
(habitantes)

1	São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	Minas Gerais	21 292 666	10,1%	Sri Lanka (20 675 000)
3	Rio de Janeiro	17 366 189	8,2%	Países Baixos (16 922 900)
4	Bahia Bahia	14 930 634	7,1%	Chade (14 037 000)
5	Paraná	11 516 840	5,4%	Bolívia (11 410 651)
6	Rio Grande do Sul	11 422 973	5,4%	Bélgica (11 250 659)
7	Pernambuco	9 616 621	4,5%	Bielorrússia (9 485 300)
8	Ceará	9 187 103	4,3%	Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	Áustria (8 602 112)
10	Santa Catarina	7 252 502	3,4%	Sérvia (7 114 393)
11	Maranhão	7 114 598	3,4%	Paraguai (7 003 406)
12	Goiás	7 113 540	3,4%	Paraguai (7 003 406)
13	Amazonas	4 207 714	2,0%	Líbano (4 168 000)
14	Espírito Santo	4 064 052	1,9%	Líbano (4 168 000)
15	Paraíba	4 039 277	1,9%	Líbano (4 168 000)
16	Rio Grande do Norte	3 534 165	1,7%	Uruguai (3 415 866)
17	Mato Grosso	3 526 220	1,7%	Uruguai (3 415 866)
18	Alagoas	3 351 543	1,6%	Uruguai (3 415 866)
19	Piauí	3 281 480	1,6%	Kuwait (3 268 431)
20	Distrito Federal	3 055 149	1,4%	Lituânia (2 900 787)
21	Mato Grosso do Sul	2 809 394	1,3%	Jamaica (2 717 991)
22	Sergipe	2 318 822	1,1%	Namíbia (2 280 700)
23	Rondônia	1 796 460	0,8%	Gabão (1 725 000)
24	Tocantins	1 590 248	0,7%	Bahrein (1 359 800)
25	Acre	894 470	0,4%	Fiji (859 178)
26	Amapá	861 773	0,4%	Fiji (859 178)
27	Roraima	631 181	0,3%	Luxemburgo (562 958)"""


dados_da_populacao_io = StringIO(dados_da_populacao)

populacao = pd.read_csv(dados_da_populacao_io, sep="\t")
populacao = populacao.dropna()
populacao["populacao"] = populacao["População"].str.replace(" ", "").astype(int)
populacao["uf"] = populacao["Unidade federativa"]
populacao =  populacao[["populacao", "uf"]]
display(populacao.head())
display(populacao.info())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   populacao              uf
1   46289333       São Paulo
2   21292666    Minas Gerais
3   17366189  Rio de Janeiro
4   14930634     Bahia Bahia
5   11516840          Paraná

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 1 to 27
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   populacao  27 non-null     int64
 1   uf         27 non-null     object
dtypes: int64(1), object(1)
memory usage: 648.0+ bytes

None

In [258]:

wiki = "https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o"
page = rq.get(wiki)
soup = BeautifulSoup(page.content)
table = soup.find('table', attrs={'class':'wikitable sortable'})
regiao = ''
populacao = ''
for row in table.find_all('tr'):
    time = 0
    for column in row.find_all('td'):
        time = time + 1
        if (time == 2):
              regiao = regiao + ((column.find('a')).get('title')) + ','
              
        elif (time == 3):
              populacao = populacao + str(column.string) +  ','

regiao = regiao.replace(' (estado)', '').replace(' (Brasil)','').rstrip().split(',')  
populacao = populacao.replace(' ', '.').split('\n,')
df = pd.DataFrame(list(zip(regiao,populacao)), columns = ['Regiao','Populacao'])
print(df)

                 Regiao   Populacao
0             São Paulo  46.649.132
1          Minas Gerais  21.411.923
2        Rio de Janeiro  17.463.349
3                 Bahia  14.985.284
4                Paraná  11.597.484
5     Rio Grande do Sul  11.466.630
6            Pernambuco   9.674.793
7                 Ceará   9.240.580
8                  Pará   8.777.124
9        Santa Catarina   7.338.473
10                Goiás   7.206.589
11             Maranhão   7.153.262
12             Amazonas   4.269.995
13       Espírito Santo   4.108.508
14              Paraíba   4.059.905
15          Mato Grosso   3.567.234
16  Rio Grande do Norte   3.560.903
17              Alagoas   3.365.351
18                Piauí   3.289.290
19     Distrito Federal   3.094.325
20   Mato Grosso do Sul   2.839.188
21              Sergipe   2.338.474
22             Rondônia   1.815.278
23            Tocantins   1.607.363
24                 Acre     906.876
25                Amapá     877.613
26              Roraima     652.713
27